.top__wrapper {
    margin-top: 400px;

}

@media (max-width: 1900px) {
    .top__wrapper {

        margin-top: 300px;
    }
}

@media (max-width: 700px) {
    .top__wrapper {

        margin-top: 0;
    }
}