.header__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 700px;

}


@media (max-width: 1900px) {
    .header__list {
        width: 350px;
    }
}