.top__image {
    width: 800px;
    height: 1000px;
    margin-right: 150px;
    object-fit: cover;

}

@media (max-width: 1900px) {
    .top__image {
        width: 600px;
        height: 700px;
        margin-right: 60px;
    }
}