.top__image {
    width: 800px;
    height: 1000px;
    margin-right: 150px;
    object-fit: cover;

}

@media (max-width: 1900px) {
    .top__image {
        height: 700px;
        margin-right: 60px;
        width: 550px;
        object-fit: contain;
    }
}

@media (max-width: 700px) {
    .top__image {
        height: 450px;
        margin-right: 0;
        object-fit: contain;
        margin-top: 80px;
        margin-bottom: 30px;
    }
}