.footer__info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 130px;
    row-gap: 60px;
}

@media (max-width: 1900px) {
    .footer__info {
        margin-left: 80px;
        margin-top: 80px;
        row-gap: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .footer__info {
        width: 500px;

        padding: 30px;
        margin-left: 0;
        margin-top: 0;
        row-gap: 15px;
        margin-bottom: 0;
    }
}