.works__link {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #007472;
    z-index: 30;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    right: 10px;

}

.works__link:hover {
    opacity: 0.7
}


@media (max-width: 700px) {
    .works__link {
        width: 30px;
        height: 30px;

        border-radius: 5px;

    }
}