.about__container {

    /*background-color: #d6a102;
    box-shadow: 50px 50px rgb(96, 16, 16);*/

    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1900px) {
    .about__container {
        max-width: 1280px;
    }
}