.works__cards {
    width: 1720px;
    height: 1800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 180px);
    grid-column-gap: 50px;
    grid-row-gap: 40px;

}

@media (max-width: 1900px) {
    .works__cards {
        width: 1000px;
        height: 1000px;


        grid-template-rows: repeat(9, 100px);
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        padding-top: 50px;
    }
}