.header {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 100px;
    z-index: 2;

}


@media (max-width: 1900px) {
    .header {
        right: 10px;
    }
}