.footer__image-wrapper {
    width: 900px;
    height: 1070px;
    margin-left: 100px;
}

@media (max-width: 1900px) {
    .footer__image-wrapper {
        width: 700px;
        height: 670px;
        margin-left: 70px;
    }
}

@media (max-width: 700px) {
    .footer__image-wrapper {
        width: 400px;
        height: 400px;
        margin-left: 0;
        margin-bottom: 30px;
    }
}